[2013-04-27 22:09] jeyben opened #1 "Add spinner while loading authorization webview"
It takes a short amount of time for the Authorization WebView to show up.
In the mean time we should present a spinner.

[2013-04-27 22:12] jeyben opened #2 "Handle network not available"
Tell the user when authorization isn´t possible because network is unavailable.

[2013-04-27 22:16] jeyben opened #3 "Renew access token feature"
Implement an easy way to renew accesstokens:
https://developer.linkedin.com/documents/handling-errors-invalid-tokens

[2013-04-27 22:40] #1 closed, assigned to jeyben

[2013-04-27 22:59] jeyben opened #4 "Verify against the 'state' property"
Verify that the state property hasn't changed when being redirected - see:
https://developer.linkedin.com/documents/authentication#handling

[2013-04-28 13:41] #4 closed, assigned to nobody

[2013-04-28 13:43] jeyben opened #5 "Add description to errors when something fails"
Currently we only set a code without any readably description of why an error occured.

The same goes for the code - a description of the code in form of a static variable could be useful for the user of the library.

[2013-04-28 15:54] #2 closed, assigned to jeyben

[2013-06-04 18:43] epoberezkin opened #6 "Access token request problems"
1. Library makes GET request, LinkedIn documentation requires POST request
2. Redirect URLs in both authorisation and access token requests are not encoded
3. The main problem - authorisation code received from LinkedIn is different from the one sent in access token request (the first character is missing).
   It happens because

[code]

in

[code]

of `LIALinkedInAuthorizationViewController` retu

[2013-06-04 22:58] epoberezkin opened #7 ""Authentication failure" when web view load aborted"
`webView:didFailLoadWithError:` is called every time when `webView:shouldStartLoadWithRequest:navigationType:` returns NO, which happens when redirect should be aborted.

There should be some instance variable that shows that request was aborted on purpose rather than failed so that `webView:didFailLoadWithError:` doesn't call failureCallback in these situations.

[2013-06-09 10:36] #6 closed, assigned to nobody

[2013-06-09 10:36] #7 closed, assigned to nobody

[2013-06-19 14:39] listingboat opened #9 "CocoaPods issue when also including RestKit"
I ran into this issue when trying to use your pod while also using RestKit:

[!] IOSLinkedInAPI (0.0.4) tries to activate `AFNetworking (~> 1.2.1)', but already activated version`1.3.1' by RestKit/Network (0.20.2).

Suggestions?

[2013-06-23 20:19] #9 closed, assigned to nobody

[2013-07-24 12:01] Isuru-Nanayakkara opened #11 "Xcode project file is missing in the example"
The Xcode project file is missing in the example project provided therefore we cannot run the project. Please fix it.

Thank you.

[2013-07-25 05:09] Isuru-Nanayakkara opened #12 "Making API calls"
How do you make an API call using the library? I'm trying to use the Share API (http://developer.linkedin.com/documents/share-api#toggleview:id=xml) on LinkedIn to post a status message. I'm kinda lost on how to add parameters to the URL using the library. How can it be done?

Thanks

[2013-08-19 13:26] #11 closed, assigned to jeyben

[2013-09-20 07:00] paritoshraval100 opened #13 "Getting Error in Post Status request"
Hi, it's really a good API.can you give me an example of post status request ? I am using your API and trying to post it by

NSDictionary *params = [NSDictionary dictionaryWithObjectsAndKeys:@"comment", @"TEST", nil];
NSString *url = [NSString stringWithFormat:@"https://api.linkedin.com/v1/people/~/shares?oauth2_access_token=%@",accesToken];
[self postPath:url parameters:params success:^(AFHTTPReq

[2013-11-26 17:14] davisjp1822 opened #15 "Create Better Login Window that works for iPhone and iPad"
Howdy -
Thanks for putting this framework together. I rolled my own framework using OAuth1, and this looks like it has the potential to be far cleaner.

I created my own view controller nestled in a Navigation Controller for LinkedIn Auth that works on both iPad and iPhone. It would be a nice addition to this project so that the implementation is a true drop-in via CocoaPods with no further UI mag

[2013-11-27 20:07] #15 closed, assigned to nobody

[2013-12-17 19:39] Trantor7 opened #17 "Can't manage to retrieve token"
I am trying to  use the library to retrieve the access token. I don't seem to manage though when using the code example provided.

I get an error message for the line self.client getPath. The getPath method is not recognised on LIALinkedInHttpClient class.

What am I missing?

Thanks

[2013-12-30 08:06] benbruscella opened #18 "Authentication in other webviews?"
This is a feature question...

Once the user authenticates using this library, I present them with another webview showing them their profile obtained from the LinkedIn API.

Specifically, the problem I'm having is displaying their "site-standard-profile-request" profile URL. This requires a login to be viewed, unlike public profiles. LinkedIn is asking the user is to login again in the second Web

[2014-01-15 00:42] metova-developer opened #19 "Revert podspec AFNetworking dependency"
It looks like you updated the podspec for 1.0.0 a month ago so that the AFNetworking dependency is version 1.3.3. It used to be 1.2.1, which is what I've been using in my app. Since the pod version wasn't updated with this change, pod install fails for me unless I change my AFNetworking version to 1.3.3. However, when I do that, I run into other problems with your linkedin pod.

I think the pod ve

[2014-01-29 11:17] carlhunterroach opened #20 "Example not updated"
The example code (not the pod version) uses an old api rather than GET.

[2014-01-29 11:18] carlhunterroach opened #21 "Can't use from a Modal view controller"
If one uses a modal segue then this code's view controller fails to open.

Work-around: don't use a modal segue.

[2014-01-30 20:18] #12 closed, assigned to nobody

[2014-01-30 20:21] #18 closed, assigned to nobody

[2014-01-30 20:24] #13 closed, assigned to nobody

[2014-01-30 20:25] #20 closed, assigned to nobody

[2014-01-30 20:41] #19 closed, assigned to nobody

[2014-01-30 20:42] #17 closed, assigned to nobody

[2014-02-02 14:57] yond opened #22 "Version 2.0 uses latest AFNetworking- causes compatibility issues with restkit"
Need to make dependency on lower version of AFNetworking

[2014-02-18 16:24] GuillaumeDerivery opened #23 "unauthorized_client"
HI !

Do you have any idea why every time the url accessToken returns "unauthorized_client" with a 401 code ?

This url is called in this method : getAccessToken:success:failure.
The permissions in my linkedIn Application are set correctly, as well as the API/Secret Key in the project sample.

I successfully get the authorization code with the login webview but the next url called right after it i

[2014-02-27 14:47] #21 closed, assigned to nobody

[2014-04-28 21:02] rich-armstrong opened #24 "Problems Installing without CocoaPods"
Is there a way to install multiple of the same library? this cocoapod needs RFNetworking 2.0.0 however the restKit cocoa pod needs 1.3.0

[2014-05-03 02:16] saijithendra opened #25 "Is there a way to access profile picture, connections etc details using this library ?"
Hello Jeyben,

First of all, I am sorry for creating this as an issue. I don't know where to ask you a question.

I can't figure out how to access user profile picture using your API. I got the profile picture URL when I logged in, but, I am unable to get the image from URL.

And also, how to get other details of user like user connections, etc using your API.

Could you help me please ? I am usin

[2014-05-09 22:27] pedro380085 opened #26 "Strange AFNetworking call"
Why do you call `#import <AFNetworking/AFHTTPRequestOperationManager.h>` on `LIALinkedInHttpClient.h` even though AFNetworking is not a binary framework?

[2014-05-20 11:11] mobihunterz opened #27 "Can't share post with the LinkedIn API"
I have also registered the issue on stackoverflow: http://stackoverflow.com/questions/23758142/ioslinkedinapi-cant-share-post-with-the-linkedin-api
https://github.com/jeyben/IOSLinkedInAPI/issues/new

In this code I can't find proper example code but however I had written some code through which post can be shared. Here is my code:

In the code I have only single viewcontroller in which I have tak

[2014-05-24 03:47] breaklee opened #28 "session cookie or others exist?"
are there something session objects to remain login state like facebook session object?
or always require to login using linkedIn dialog?
how can i save login state or request library? are there exist check session IOSLinkedInAPI project?

[2014-05-25 17:14] #28 closed, assigned to nobody

[2014-05-25 17:20] #25 closed, assigned to nobody

[2014-05-25 17:21] #22 closed, assigned to nobody

[2014-05-25 17:25] #24 closed, assigned to nobody

[2014-07-25 21:15] cerupcat opened #31 "WebKit discarded an uncaught exception"
After entering credentials and signing in, I'm getting the following error in both example projects and my own project.

IOSLinkedInAPI-Podexample[968:60b] **\* WebKit discarded an uncaught exception in the webView:decidePolicyForNavigationAction:request:frame:decisionListener: delegate: <NSRangeException> **\* -[__NSArrayI objectAtIndex:]: index 1 beyond bounds [0 .. 0]

[2014-09-23 10:45] AnilkumarRabhasa opened #35 "not showing Login Window for LinkedIn API in iOS"
Mr. Jeyben, thanks for sharing great api for integrating the LinkedIn Api to iOS apps. This saves my time for integarting to my app. Yesterday i downloaded this api and i got user info from LinkedIn. Today i opend my app, the login window not showing after clicking the button. Its very strange to me really, i checked my code perfectly, i dint changed anything. Could you pls give solution for this,

[2014-10-09 20:00] edalford11 opened #36 "Post request does nothing"
[self.client POST:linkedinShareURL parameters:linkedinParams success:^(AFHTTPRequestOperation *operation, id responseObject) {
                NSLog(@"SUCCESS: %@", responseObject);
            } failure:^(AFHTTPRequestOperation *operation, NSError *error) {
                NSLog(@"FAILURE: %@", error);
            }];

The client is already authenticated with an access token inside the linkedinSh

[2014-10-09 20:03] #36 closed, assigned to nobody

[2014-11-15 20:59] dethell opened #38 "Swift version for Xcode 6.1"
Here is what I did for swift in case anyone needs it. Note, this is using the fork that allows AFNetworking 1.x since RestKit requires that still.

[code]

[2014-12-02 11:51] alexruperez opened #39 "Security question"
@stefanocdn ask me at https://github.com/alexruperez/PFLinkedInUtils/issues/3

Just a question regarding security: is that safe to store the accessToken in the UserDefaults? Shouldn't it be stored in the Keychain for instance?
Thanks

[2014-12-02 15:53] #39 closed, assigned to nobody

[2014-12-17 07:32] cantoni opened #40 "Missing super call in LIALinkedInAuthorizationViewController.m"
LIALinkedInAuthorizationViewController.m -viewDidAppear: is missing its "super" call. Thanks for the great class!

[2014-12-17 20:20] #40 closed, assigned to nobody

[2015-01-15 09:09] nipaashra opened #43 "LIALinkedInClientExampleCredentials.h file not found"
I have downloaded code of IOSLinkedIn API  but  LIALinkedInClientExampleCredentials.h not available so, give me LIALinkedInClientExampleCredentials.h file.

[2015-01-15 09:15] jeyben commented on #43
It´s probably not that clear in the documentation but the LIALinkedInClientExampleCredentials.h file is a file you should create by your self. Otherwise the given linkedin app will be shared between all people that downloads the example app.

The .h file should contain to defines:
LINKEDIN_CLIENT_ID
LINKEDIN_CLIENT_SECRET

The values of these too defines can be retrieved by creating an app at Link

[2015-01-15 09:15] #43 closed

[2015-01-15 09:22] nipaashra commented on #43
yes, same i already added LINKEDIN_CLIENT_ID, LINKEDIN_CLIENT_SECRET in my class but when run time not loaded linkedin page and its show like

" invalid redirect_uri. this value must match a url registered with the api key"

so, give me any suggestion....

[2015-01-15 09:27] jeyben commented on #43
Sounds like an issue with the linkedin application you have created:

You can probably get some hints her:
https://developer.linkedin.com/forum/invalid-redirecturi-value-must-match-url-registered-api-key-0

here:
http://stackoverflow.com/questions/26570194/linkedin-invalid-redirect-uri-this-value-must-match-a-url-registered-with-the

or here:
https://naveengopisetty.wordpress.com/2014/09/15/linked

[2015-01-15 10:14] nipaashra commented on #43
Thank you solved this issue...

[2015-01-15 11:03] nipaashra commented on #43
IOSLinkedInAPI its work fine but I have integrated in my code that it returns error like

"AFnetworking/AFnetworking.h file not found"

 I have already install pod file in IOSLinkedInAPI and that pod file integrated to my project but its return error.

so, give me any suggestion for that....

[2015-01-15 11:08] jeyben commented on #43
The IOSLinkedInAPI uses AFNetworking 2.x.
Have you made a pod install and can you see that AFNetworking is linked as a pod along the IOSLinkedInAPI?

[2015-01-15 11:11] nipaashra commented on #43
yes I have installed pod and i see that AFNetworking is linked as a pod along the IOSLinkedInAPI.

but i want to integrate in my project for linkedIn login purpose and I have put IOSLinkedInAPI pod file to my project and its give error "AFnetworking/AFnetworking.h file not found".

[2015-01-15 11:15] jeyben commented on #43
You should not put the podfile from the IOSLinkedInAPI into you own project, but add a reference to the IOSLinkedInApi in you existing podfile. Like it is done in the example application.

[2015-01-15 11:23] nipaashra commented on #43
example application there is not show xcode file how can I run this "IOSLinkedInAPI-Example" ?

[2015-01-15 11:26] jeyben commented on #43
You should run the pod example: https://github.com/jeyben/IOSLinkedInAPI/tree/master/Example/IOSLinkedInAPI-Podexample/IOSLinkedInAPI-Podexample

Run pod install and afterwards open the workspace file which is generated for you

[2015-01-15 11:31] nipaashra commented on #43
Yes, I done all this things and workspace run fine i got result for linkedIn logged users.

but my question is that when I integrated pod file in own project at time give error......

[2015-01-15 11:34] jeyben commented on #43
then it should be possible to see the differences in how the example app is setup and how you own project is setup.

I mean do you have an entry in you own podfile saying:
pod 'IOSLinkedInAPI'

Afterwards you should run pod install...
That should be all for you to fetch latest released version and associated libraries (AFNetworking 2.x)

No copy of the source files etc. Just pod install

[2015-01-15 11:40] nipaashra commented on #43
You mean all process of pod file (install, workspace) should do in own project like i have done for IOSLInkedInAPI ..?

[2015-01-15 12:23] nipaashra commented on #43
Thank You its work fine my project.

[2015-01-16 11:31] nipaashra commented on #43
how to get email address ...? I have already given permission of email_address.
I got result of

   firstName =
    headline =
    lastName =
    siteStandardProfileRequest =     {
        url = "";
    };

but email address not show...so, please give any suggestion for that

[2015-01-16 12:36] nipaashra commented on #43
its done I have used this code

[self.client GET:[NSString stringWithFormat:@"https://api.linkedin.com/v1/people/~:(id,first-name,last-name,maiden-name,email-address)?oauth2_access_token=%@&format=json", accessToken] parameters:nil success:^(AFHTTPRequestOperation *operation, NSDictionary *result) {
        NSLog(@"current user %@", result);

    }        failure:^(AFHTTPRequestOperation *operatio

[2015-02-18 07:38] deapam commented on #38
Hi, I am testing with your code in swift and I get an error saying that self.linkedInClient does not have such function. Have you added it yourself or I just haven't imported all in my bridging file ?

[2015-02-18 21:18] dethell commented on #38
the getPath function is part of AFHTTPClient.h from which the LinkedInClient inherits.

[2015-02-19 16:42] adozenlines commented on #3
Their Tokens have a 60 life span so on the 59th day put user their login process and the refresh occurs server side automatically, not the best experience but it works.

http://stackoverflow.com/questions/20484815/can-linkedins-access-token-renewal-flow-be-performed-on-the-server

[2015-02-24 08:47] datomnurdin opened #45 "Bridging header with swift"
Is it possible to do bridging header with swift?

[2015-02-27 23:42] datomnurdin opened #47 "fatal error: unexpectedly found nil while unwrapping an Optional value"
I'm doing bridging header but it throw an error message

`fatal error: unexpectedly found nil while unwrapping an Optional value`

My code

@IBAction func btnLinkedin(sender: AnyObject) {
        if btnLinkedin.on {
            client.getAuthorizationCode({ (code:String!) -> Void in
                println(code)
                self.client.getAccessToken(code, success: { (accessTokenData) -> Void

[2015-03-03 00:51] latsonml opened #48 "LIALinkedInClientExampleCredentials.h file"
I'm new to programming and found this tutorial extremely helpful, but I can't get past creating this file. Can someone copy and paste the code for this file (excluding you client id and client keys of course).

[2015-03-03 03:44] #48 closed

[2015-03-05 17:52] gkedmi opened #49 "Getting error Domain=NSURLErrorDomain Code=-1015 "cannot decode raw data""
Hi Jeyben
Thanks for this code and for the patience.
I downloaded the example code and trying to make it work but I get
"Authorization failed Error Domain=NSURLErrorDomain Code=-1015 "cannot decode raw data" UserInfo=0x17d7ce00,,,,,," after "didTapConnectWithLinkedIn" is called.
Can yo please advice?
thanks a lot
Gilad

[2015-03-24 13:27] simonhamadene commented on #19
Hi Jacob,

I am trying to use IOSLinkedInAPI in my project. I need some help please.
here is what I did:

1. I added "Podfile" and "Podfile.lock" in the folder where my project file is.
2. From Terminal shell, from the folder where "Podfile" is, I did : pod install then Podfile folder has been created.
3. in my ViewController.mI added this:
#import "AFHTTPRequestOperation.h"
#import "LIALinkedInHt

[2015-03-24 16:05] simonhamadene commented on #19
Hi Jacob,

I could fix my linking problem (see above). I just added the flag $(inherited) "recursive" in the HEADER_SEARCH_FLAGS and OTHER_LDFLAGS .

Thanks,

[2015-03-25 13:31] Paras-Chodavadiya commented on #49
Hello Jeyben,
Also same issue like @gkedmi

Thank you.

[2015-03-25 17:56] BruhhGarcia commented on #35
Any solution? I'm having the same problem..

[2015-03-26 10:42] Paras-Chodavadiya opened #50 "WebKitErrorDomain error 101"
Authorization failed : Error Domain=WebKitErrorDomain Code=101 "The operation couldn’t be completed.

[2015-04-02 10:03] datomnurdin commented on #35
Is there any solutions for this?

[2015-04-02 10:19] datomnurdin opened #51 "Warning: Attempt to present <*> on <*> whose view is not in the window hierarchy"
I try to login via Linkedin ios SDK but I got this error message

[code]

My code

[code]

Even I put _client = [self client] in viewDidAppear, still same

[code]

Please advice. Thank you.

[2015-04-03 15:28] daisoreanu opened #52 "Invalid redirect_uri"
Hi, and I would like to thank you for this library and the future help

I tried to implement this code in my project:

https://github.com/jeyben/IOSLinkedInAPI/tree/master/Example/IOSLinkedInAPI-Podexample/IOSLinkedInAPI-Podexample/IOSLinkedInAPI-Podexample

and entered my own values, I don't get any errors, but when I tap the Linked in button,
instead of beeing redirected to the LinkedIn log in p

[2015-04-03 15:43] daisoreanu commented on #52
I found the issue to be on the way I have setted my link on Linkedin app settings page, but I still don't know how to retrieve the users skills..

[2015-04-03 15:49] daisoreanu commented on #52
Also fount the answer to my second question by trial and error, I just had to edit the link to:
@"https://api.linkedin.com/v1/people/~:(skills)?oauth2_access_token=%@&format=json"

[2015-04-03 15:49] #52 closed

[2015-04-20 06:29] thornpig commented on #35
I had the same problem. Then I figured out that I was not using this library correctly by initializing the instance of LIALinkedInHttpClient with
 [LIALinkedInHttpClient clientForApplication:application presentingViewController:nil];

Replacing the above "nil" to "self" solved the problem.

Thank you Jeyben for this great library!

[2015-04-27 12:17] PetrosDavtyan opened #53 "permissions issue"
Hi everybody...
When I add new permissions in
 [LIALinkedInApplicationapplicationWithRedirectURL:   clientId:   clientSecret:  state:  grantedAccess:@"Permssion1", @"Permssion2", etc];
method I don't receive expected result.
I always receive
result like this {
   firstName = fName;
   headline = "iOS developer";
   id = FI09uYt2w2;
   lastName = lName;
   siteStandardProfileRequest =     {

[2015-04-29 16:10] banafederico commented on #51
@datomnurdin did you get to fix this?

[2015-04-30 01:45] datomnurdin commented on #51
Nope. BTW, I'm using swift right now. It's very difficult to do bridging header with your library.

[2015-04-30 04:30] Ramya797 commented on #51
#Swift Xcode 6.1

I have the same error
Attempt to present <UINavigationController: 0x7fb40b4a3db0> on <UITabBarController: 0x7fb40b709390> whose view is not in the window hierarchy!

I present a LoginVC modally . The LoginVC has a button and is hooked up with the LinkedinSDK logic . I get the above error when I click on the button . However the error doesn't occur if it is a simple Vc and is not

[2015-04-30 13:44] banafederico commented on #51
I fixed it with:

[code]

Self being my UIViewController. I wasn't using the `presentingViewController` parameter.

[2015-04-30 18:24] datomnurdin commented on #51
Feel free to pull request.

[2015-04-30 18:26] datomnurdin opened #54 "Use of undeclared type 'LIALinkedInHttpClient'"
Since I updated my xcode to 6.3.1, I got this error message

[code]

I initialize client variable like this

[code]

Please advice. Thank you.

[2015-05-14 07:48] daisoreanu opened #55 "Authorization failed LinkedIn1: Error Domain=LIALinkedInERROR Code=1 "The operation couldn’t be completed. (LIALinkedInERROR error 1.)""
Hi, I am getting the next error:

`Authorization failed LinkedIn1: Error Domain=LIALinkedInERROR Code=1 "The operation couldn’t be completed. (LIALinkedInERROR error 1.)"`

when I tap a custom build LinkedIn button.

Here is the code that I am using:

[code]

and also i declare:

`LIALinkedInHttpClient     *_client;`

witch takes the value:

`_client = [self client];`

Also I have opened a stack o

[2015-05-15 09:16] jackdewhurst commented on #55
Likeswise, this problem has started occurring since LinkedIn's new API terms of use changed on the 12th May.

[2015-05-15 15:03] pedro380085 commented on #55
Same thing happened here, I've debugged the library a little bit and it appears that LinkedIn is refusing connections. Look at the response URL:

[code]

[2015-05-15 15:05] pedro380085 commented on #53
@PetrosDavtyan You must call the additional parameters you want to receive from their Profile API. Authorization ≠ Fields.

[2015-05-15 15:19] pedro380085 commented on #55
I've found the necessary changes here: https://developer.linkedin.com/support/developer-program-transition

[2015-05-15 15:39] pedro380085 commented on #55
Changes introduced on this new version of the API basically block you from a lot of stuff.

[2015-05-16 21:10] iazarov commented on #55
I'm getting the same error. Is it clear now how to fix or workaround the issue?

[2015-05-16 21:45] iazarov commented on #55
I just removed usage of r_fullprofile, r_network in my code and it helped

[2015-05-18 05:51] PetrosDavtyan commented on #53
@pedro380085 can you show me an example please? I have already done that but don't receive what I want

[2015-05-18 05:54] pedro380085 commented on #53
[code]

As stated on README.

[2015-05-18 06:04] PetrosDavtyan commented on #53
I am doing it by this way, but don't receive anything  exept this
{
firstName = fName;
headline = "iOS developer";
id = FI09uYt2w2;
lastName = lName;
siteStandardProfileRequest = {
url = "https://www.linkedin.com/profile/view?id=32442245&authType=name&authToken=Vze-&trk=api*a4353471*s4416641*";
};
}

[2015-05-18 10:18] pedro380085 commented on #53
@PetrosDavtyan, just ask for more fields on your URL: `https://api.linkedin.com/v1/people/~:(id,num-connections,picture-url)?format=json`

[2015-05-19 22:22] kartboy16 commented on #50
Were you able to figure out this issue?  I'm getting this error as well after following the LinkedIn transition guide...

[2015-05-20 10:33] #55 closed

[2015-05-20 10:34] #53 closed

[2015-05-20 10:34] #51 closed

[2015-05-20 10:35] #35 closed

[2015-05-23 04:33] datomnurdin opened #57 "[!] Unable to find a specification for `ioslinkedinapi`"
As per subject, I got this error when I trying to install IOSLinkedinAPI via cocoapod.

[code]

Please advice. Thank you.

[2015-05-23 07:16] jeyben commented on #57
The specification is hosted at github under specs as all other public accessible open source projects.

Which version are you requesting?

[2015-05-26 19:44] Zuzic opened #58 "Login Error"
Hi All,

I have some problems, I have created app in linkedIn site and have the redirect url, but I can't see web page for login, I have got error: Authorization failed Error Domain=LIALinkedInERROR Code=1 "The operation couldn’t be completed. (LIALinkedInERROR error 1.)"
Until May 12, the application works fine, after I started getting this error. Can YOU help me? Please

[2015-05-26 19:59] realtybaron commented on #58
LinkedIn restricted access to their API significantly on May 12th:
https://developer.linkedin.com/blog/posts/2015/developer-program-changes

On Tue, May 26, 2015 at 2:44 PM, Yury Zenko <notifications@github.com>
wrote:

--
Marc Dugger
mdugger@gmail.com

[2015-06-02 09:30] jeyben commented on #58
Unfortunately as realty baron stated. LinkedIn has applied several restrictions to their API usages as long as you aren't a partner.

[2015-06-02 09:30] #58 closed

[2015-06-08 15:41] ispha commented on #58
I had the same problem before checking latest updates of Linked In , but now it worked by removing r_publicprofile and r_publicnetwork then updating my App on linked in developer portal .

Then , replaced these two in granted permissions  in code by this one :r_basicprofile ,,and for sure updated both client id and secret one there !

[2015-06-12 17:27] mixo44 opened #59 "LIALinkedInERROR error 1."
Hello. Please help me solve this error.

**`Authorization failed Error Domain=LIALinkedInERROR Code=1 "The operation couldn’t be completed. (LIALinkedInERROR error 1.)`**

I get this error when I ask **`r_fullprofile`** access.

### What should I do ? Is any way to fix this issue ?

[2015-06-17 20:50] fel-cesar commented on #59
The API of LinkedIn Has changed. I solved this error by setting like this:

![screen shot 2015-06-17 at 17 47 15](https://cloud.githubusercontent.com/assets/4176646/8218396/fc3cce98-1518-11e5-9ecf-4bd6b206c712.png)

And in my APPs developer console i set the permissions like this:
![screen shot 2015-06-17 at 17 46 31](https://cloud.githubusercontent.com/assets/4176646/8218397/fc3fe07e-1518-11e5-98

[2015-06-18 06:45] ahsolanki opened #60 "redirect url issue"
Getting this issue everytime
Authorization failed Error Domain=LIALinkedInERROR Code=1 "The operation couldn’t be completed. (LIALinkedInERROR error 1.)

[2015-06-18 11:41] jeyben commented on #60
LinkedIn changed the conditions in the usage of their API´s recently (see the top of the readme.md).
You could also see this issue for a suggested solution:
https://github.com/jeyben/IOSLinkedInAPI/issues/59

[2015-06-18 11:41] #60 closed

[2015-06-20 02:37] felix-dumit commented on #59
I'm still getting this issue, here is how my code is:

[code]

Here's what my permissions look like:
![screen shot 2015-06-19 at 11 32 22 pm](https://cloud.githubusercontent.com/assets/1863251/8265697/fc06cc84-16db-11e5-9bfd-140a20648977.png)

Also where do I get the state string from? A previous developer implemented it I don't know where that came from.

[2015-06-21 22:33] fel-cesar commented on #59
Hi @felix-dumit ,
the STATE string its an arbitrary string that is used to identify your request on linkedin server side  (if i am not wrong). It can be any string as long as it is UNIQUE, to avoid simultaneous conflicts on the server side. I recommend to use a hash or a code thats hard to repeat. like
@"shdaksdl2gl3kj132l31v2lh3f12"

or

@"HJ1K2JH31JJ12HF3KJ1K"

for the other problem i dont know

[2015-06-21 23:42] felix-dumit commented on #59
Ok thanks, I ended up removing the `r_network` permission and it worked. It was enabled but it was complaining that it wasn't   :confused:

[2015-06-23 21:00] romaopedro commented on #59
Thank you very much. Removing r_network helped

[2015-06-25 10:23] #59 closed

[2015-06-25 10:24] jeyben commented on #57
I will close this issue

[2015-06-25 10:24] #57 closed

[2015-07-30 16:15] jiamaozheng opened #62 "Warning window hierarchy"
Just started using this API and I got this error in the console:

 Warning: Attempt to present <UINavigationController: 0x14dd59e0> on <UINavigationController: 0x14d76820> whose view is not in the window hierarchy!

Any suggestions to fix it!

[2015-07-30 20:56] #62 closed

[2015-08-13 06:52] mixo44 opened #63 "Full profile"
Hello all.
#### Can anyone help me with getting full profile from Linkedin?

### I have these permissions.
![screen shot 2015-08-13 at 10 40 51](https://cloud.githubusercontent.com/assets/9654123/9244105/b3ccacb4-41a0-11e5-90af-7de031ce1d72.png)

#### Should I ask more permissions from Linkedin or not for that ?

[2015-09-19 09:19] aramharutyunayn commented on #63
@jeyben  @tleyden  @cantoni   ? can anyone help us?

[2015-09-21 17:52] tleyden commented on #63
@jamlitz have you played with the LinkedIn api?

@aramharutyunayn can you post some code samples of your ios code?

[2015-09-23 06:34] mixo44 commented on #63
@tleyden Here an example. The Linkedin login webview doesn't open and gives this error.
![screen shot 2015-09-23 at 10 32 25](https://cloud.githubusercontent.com/assets/9654123/10038958/0f1556ac-61d6-11e5-96d8-fbf77b90ee7d.png)

[2015-09-23 06:47] blazejchwiecko commented on #63
Same issue here, can't get full profile info, but work fine with <code>r_basicprofile</code>

[2015-09-23 07:12] jeyben commented on #63
See this issue. It seems to be the same exact problem.
https://github.com/jeyben/IOSLinkedInAPI/issues/55

[2015-09-23 07:19] blazejchwiecko commented on #63
OK. Is there any change of getting list of user skills without <code>r_fullprofile</code>? I want to get list of my skills and use it within my app.

[2015-09-23 07:28] jeyben commented on #63
Your application have to be approved by LinkedIn to access the full profile: https://developer.linkedin.com/support/developer-program-transition

[2015-10-01 07:53] lynchspin opened #64 "Missing items in response object for r_basicprofile"
Hey @jeyben,

First of all, thanks for the library; it really simplified things.

Now here's the issue I'm having: Authentication and everything is working fine. However, the dictionary (NSDictionary *result) that I'm getting back in the 'requestMeWithToken' method is only returning firstName, headline, id, lastName, and a siteStandardProfileRequest URL. I've set the grantedAccess array to include

[2015-10-01 17:09] #64 closed

[2015-10-11 16:08] preym commented on #63
Hi, I am getting bellow warning in my logs instead of opening LinkedIn Login View, Can you please tell me what may be the reason for this message.

Warning: Attempt to present <UINavigationController: 0x7b9f4c00>  on <UIApplicationRotationFollowingController: 0x7b04c2e0> which is already presenting <UIAlertController: 0x7a1ea600>

Thanks.

[2015-10-11 17:22] preym commented on #63
Warning: Attempt to present <UINavigationController: 0x7b9f4c00>  on <UIApplicationRotationFollowingController: 0x7b04c2e0> which is already presenting <UIAlertController: 0x7a1ea600>

[2015-10-22 07:33] donly commented on #49
Hi, I have the same issue,
NSURLErrorDomain Code=-1015 "cannot decode raw data"

How to get the raw response data?
Thanks,
Dong

[2015-11-12 14:54] Hardenn opened #65 "Analyze error"
I've just done analyze on my project in Xcode and get this warning:

*LIALinkedInAuthorizationViewController.m:77:1: warning: The 'viewDidAppear:' instance method in UIViewController subclass 'LIALinkedInAuthorizationViewController' is missing a [super viewDidAppear:] call*

It seems that you forgot to use super method. May be it's worth fixing?

[2015-12-08 07:54] KetaniPhone commented on #55
I'm getting the same error. Is it clear now how to fix or workaround the issue?

[2015-12-15 00:12] pedro380085 commented on #55
@KetaniPhone You can only use r_basicprofile, r_emailaddress.

[2015-12-29 03:27] DarkInsight85 opened #66 "Compatibility with AFNetworking 3.0"
I have recently updated my AFNetworking to 3.0, and found out that IOSLinkedInAPI can no longer be compiled as it is dependent on AFNetworking 2.0.

May I know if there is any plan to add support for AFNetworking 3.0?

[2016-01-05 01:37] kimjune01 commented on #66
I quickly made changes to the file causing warnings using this guide, to stop it from breaking:

https://github.com/AFNetworking/AFNetworking/wiki/AFNetworking-3.0-Migration-Guide

[2016-01-07 10:24] jeyben commented on #66
Great - would you like to share it? I mean we could create a new version and make it AFNetworking 3.0 compatible and bump the major version number.

[2016-02-19 06:54] DarkInsight commented on #66
Hi may I know when will this fix be rolled out to master branch?

[2016-03-15 19:31] Allansk2 opened #69 "Authorization failed Error Domain=WebKitErrorDomain Code=101 "(null)"
Hi, all
I have a view controller trying to login linkedin and post. But I couldn't get login, have the error message "Authorization failed Error Domain=WebKitErrorDomain Code=101 "(null). Really frustrated, hoping someone could help me! Thanks.

Here is my code
ViewController.h
#import <UIKit/UIKit.h>
#import "LIALinkedInApplication.h"
#import "LIALinkedInHttpClient.h"

@interface ViewController :

[2016-04-12 07:28] app3nak commented on #55
I did as same as @iazarov and finally it worked thanks..

[2016-05-26 17:13] adamcjohnson opened #72 "Authorization Code call fails because of extra characters appended to state parameter."
The authorization code response contains extra characters appended to the `state` parameter, which therefore makes the request fail.

I've resolved this issue in: https://github.com/jeyben/IOSLinkedInAPI/pull/71

[2016-05-27 08:40] NickChayka commented on #72
I think, this is not a good idea - use containsString instead isEqualToString.

My solution:

in LIALinkedInAuthorizationViewController.m

line 134:

[code]

[2016-05-27 11:42] vanNiewoehner opened #73 "LIALinkedInERROR Code=2... state values do not match for some unknown reason"
Hi,
I used the IOSLinkedInAPI for a couple of months without any issues, but since today, our users are no longer able to login. For some reason, the state values do not match and the one I get back from  LinkedIn is always followed by a "#!". So for example, I send the state "abcde" and get back "abcde#!".

Is anyone else experiencing this issue or knows if LinkedIn made some changes to in their

[2016-05-27 11:46] jeyben commented on #73
If you use the master branch as your dependency, this has been fixed: https://github.com/jeyben/IOSLinkedInAPI/pull/71

[2016-05-27 11:54] vanNiewoehner commented on #73
Thanks!

[2016-05-27 11:54] #73 closed

[2016-05-27 23:57] adamcjohnson commented on #73
@jeyben Can we get this fix included in the Cocoapod?

[2016-05-29 13:42] eyalzohar commented on #72
Can you please update your Pod with the latest Master ?

[2016-05-29 13:45] eyalzohar commented on #73
Hey,
Can we get this fix included in the Cocoapod?

Thank you

[2016-05-30 13:03] philhinco opened #74 "Issue with PR #68"
Hello!

I am using the IOSLinkedInAPI Pod in my companies project.
Today we tried to issue an update with the fix for the added characters in the state. (#71)
Now we experience issues added by PR #68.

Xcode complains that it can't find AFHTTPManager (which should get evaluated by the checks added in #68).

Anyone know how we could fix this? For now we reverted that commit in our fork.

Our projec

[2016-05-30 13:07] jeyben commented on #74
The referred issue is just a spell correction in the Readme.md file...?
Do you mean: https://github.com/jeyben/IOSLinkedInAPI/pull/70 ?

[2016-05-30 13:08] philhinco commented on #74
Oh, yes. Sorry, Meant #70

[2016-05-31 11:21] vishaldeshai commented on #55
I am getting following after 6 month of working Linkedin,
Authorization failed Error Domain=LIALinkedInERROR Code=2 "(null)"
@iazarov

[2016-06-02 03:18] ddksaku commented on #55
I am also getting same error as @vishaldeshai .
Have you resolved this issue?

Authorization failed Error Domain=LIALinkedInERROR Code=2 "(null)"

[2016-06-02 03:58] vishaldeshai commented on #55
Yes, i have resolved that issue. @ddksaku

[2016-06-02 04:01] vishaldeshai commented on #55
--> LIALinkedInAuthorizationViewController.m File
 //            if ([self.application.state isEqualToString:receivedState]) {
            if([receivedState rangeOfString:self.application.state].location != NSNotFound){
Description--> application state changed with two extra character, so string is not match with 'isEqualToString'. you have to comment one line and change 'rangeOfString' function.

[2016-06-02 04:45] ddksaku commented on #55
Thanks for your help. @vishaldeshai

I have put break point there and get the result. the returned state code was different with original one.
original one is "afjkjagjak31kjakfj", and returned one is "afjkjagjak31kjakfj#!". returned has more 2 characters "#!" than original one.

How can I solve this issue?
thanks again.

[2016-06-02 04:47] vishaldeshai commented on #55
i already write two line of code in my message please replace

[2016-06-02 04:54] vishaldeshai commented on #55
have your issue cleared?

[2016-06-02 08:21] ddksaku commented on #55
Yes, thanks again.

[2016-06-06 10:25] ahmed206 commented on #48
+1

[2016-06-21 12:48] santilorenzo commented on #72
Yes, it fixed the error to me too. Can you please make a fork and a PR?
Thank you very much!

[2016-06-28 04:47] junestchick commented on #72
Did it fixed ?

[2016-07-13 00:03] pedro380085 opened #76 "path warning"
Since updating from latest version, I always get a warning at:

`#if __has_include_next("AFNetworking/AFHTTPRequestOperationManager.h")`

Is there a solution for it?

[2016-07-25 12:52] pedro380085 commented on #76
Any news on this?

[2016-08-22 14:11] zfrankz commented on #72
I've made a pull request. All came from the end point used to authenticate.

[2016-08-29 01:59] Arthraim opened #78 "Authorization failed Error Domain=LIALinkedInERROR Code=2"
After click "Sign in" on login page (the webview), I got this error, it effects all our app users. The example project in your repo doesn't work either.

[2016-08-29 10:06] Arthraim commented on #78
for anyone else who got the same problem, i found it's Linkedin append an anchor to redirect_url. And `- (NSString *)extractGetParameter: (NSString *) parameterName fromURLString:(NSString *)urlString` made mistake.

[code]

[2016-08-29 10:23] Arthraim commented on #78
fix is quite straight forward as well

[code]

[2016-09-16 06:08] bjue2009 commented on #74
Same issue here. I'm using AFNetworking 2.0 (both AFNetworking/AFHTTPRequestOperationManager.h and AFNetworking/AFHTTPSessionManager.h are present in AFNetworking 2.6.3)

[2017-04-01 00:32] adamcjohnson commented on #76
@pedro380085 Ever find a solution for this?

[2017-07-31 10:57] niwantha commented on #78
@Arthraim solution works for me

[2017-10-23 23:49] coolcool1994 opened #82 "Autofill Email and password"
If the user has previously logged in before to LinkedIn using Web View, is there a way you can modify the library so that the Email and password fields get filled in automatically? Using iOS when you log into Yahoo, Google, LinkedIn (in web browser), Email password get filled in automatically next time. This library forces users to type it every time tho.

[2017-10-24 05:09] coolcool1994 opened #83 "For Email textfield can you use Email textfield?"
It is hard to type @ if it isn't Email keyboard

[2017-11-04 16:42] pedro380085 commented on #76
@adamcjohnson Not yet

[2018-01-23 10:33] wal-arsalan commented on #78
I am using latest sdk . It is using LinkedIn app for authorization process. I m getting the same error LIALinkedInERROR Code=2 only at iOS 10 phones.  Its working fine for iOS 9 and even 11 too.

Your above method is not available for alter. Please suggest any other possible solution to fix it.

[2018-08-17 14:51] newMobileStar opened #85 "Two different Authentication screens"
Hi, I am pleasure to use this library. but I have this issue. please help me or give your understanding for that.

When I try to login with LinkedIn first, I see this authentication screen.
![simulator screen shot - iphone 8 plus - 2018-08-17 at 07 43 49](https://user-images.githubusercontent.com/16773101/44272948-018ddf80-a1f3-11e8-8cf6-14c268208067.png)

and then when I re-try, I see this screen

[2020-06-30 17:31] pedro380085 opened #87 "UIWebView deprecation"
Can we update to WKWebView?